.nav {
    display: flex;
    width: 95%;
    padding: 0 10px 0 10px;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 30px;
    gap: 20px;
}

.first, .second{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

button{
    display: flex;
    padding: 10px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    background-color: #150071;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}

button:hover{
    cursor: pointer;
}

#homeBtn{
    position: relative;
    top: -20px;
    font-size: 40px;
}

a{
    text-decoration: none;
}