<div class="nav">
    <div class="first">
        <a href=""><button><i class="fa-solid fa-user-group"></i></button></a>
        <a href="https://www.google.com/maps" target="_blank"><button><i class="fa-solid fa-map"></i></button></a>
    </div>
    <a href=""><button id="homeBtn"><i class="fa-solid fa-house"></i></button></a>
    <div class="second">
        <a href=""><button><i class="fa-solid fa-comment-dots"></i></button></a>
        <a href=""><button><i class="fa-solid fa-gear"></i></button></a>
    </div>
</div>