.card {
    background-color: #E0DDFF;
    display: flex;
    flex-direction: column;
    z-index: 1;
    justify-content: center;
    align-items: center;
    height: 55%;
    position: relative;
    border-radius: 20px;
    margin: 10% 20px;
}

.card img{
    z-index: 2;
    width: 120%;
}

.descriptionCard{
    display: flex;
    position: relative;
    top: -130px;
    background-color: #CBB8FF;
    z-index: 3;
    border-radius: 20px;
    width: 80%;
    padding: 10px 0;
    align-items: center;
    height: 30vh;
}

ul{
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-size: 20px;
    padding-left: 30px;
}